body{
    margin: 0;
    padding: 0;
    background:linear-gradient(90deg, brown, red );
    overflow-y: scroll;
}

header{
    text-align: center;
    letter-spacing: 5px;
    color: white;
    font-size: 60px;
    text-shadow: -4px 0 1px  black;
}
 /* Esta linea sirve para configurar el contenedor y ajustar las imagenes en este caso es para que quede una encima de la otra */
.menu {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}

 /* Esta linea sirve para darle estilo a las imagenes y organizar */
.menu img { 
  width: 30%;
  height: 20rem;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 10);
  transition: transform 0.3s ease;
  outline: none;
}

.menu img:hover {
  transform: scale(1.1);
}

.salida{
    position: absolute;
    top: 2%;
    left: 2%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 60px;
    transform: rotate(180deg);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.salida:hover{
  transform: scale(1.5) rotate(180deg);
}

.mensaje2{
  font-size: 25px;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 10px 4px rgba(0, 0, 0, 0.5);
}

.enviar{
    position: absolute;
    top: 6%;
    right: -2%;
    height: 50px;
    width: 10%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    white-space: nowrap;
    border-radius: 10px;
    border-style: none;
    background-color: red;
    color: white;
    border: 4px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    font-size: 19px;
    padding: 10px;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: transform 0.3s ease;

}

.enviar:hover{
  background-color: white;
  color: red;
  border: 2px solid white;
  transform: translate(-50%,-50%)  scale(1.1);
}

hr{
    width: 100%;
}


button{
  gap: 3px;
  height: 45px;
  background-color: red;
  color: white;
  border-radius: 20px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  border-style: none;
  border: 4px solid white;
  width: 10rem;
  transition: transform 0.3s ease;
}

button:hover{
  background-color: white;
  color: red;
  letter-spacing: 3px;
  transform: scale(1.2);
}