body {
  background-position: center center;    /* Centrado horizontal y vertical */
  background-repeat: no-repeat;
  background-size: cover;                /* Hace que cubra toda la pantalla */
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.fondo{   
  position: fixed;
  top: 55%;
  left: 52%;      
  transform: translate(-50%,-50%);          
  height: 100vh;  
  width: 110%;                               
  overflow: hidden;  
  z-index: -10;
}

header{
    position: absolute;
    text-align: center;
    white-space: nowrap;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    color: white;
}



.titulo{
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    letter-spacing: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    color: white;
    height: auto;
    background-color: red;
    padding: 5px;
}



img{
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  height: 20em;
  box-shadow: 0 5px 15px 10px rgb(0,0,0,10);
  border-radius: 15px;

}



.texto {
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%,-50%);
  width: 50%; 
  max-width: 700px; 
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(15px);
  padding: 20px;
  border: 3px solid white;
  border-radius: 10px;
  word-wrap: break-word;
  box-shadow: 20px 10px 10px rgb(0,0,0,0.8);
}



.texto h2{
    font-size: 2.3em;
}

.texto p{
  font-size: 1.2em;
  margin-bottom: 1rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
}



.btn{
  position: fixed;
  text-align: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 150px;
  font-size: 2em;
  letter-spacing: 2px;
  background-color: red;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 20px;
  border-style: none;
  color: white;
  border: 2px solid white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  margin-bottom: 40px;
}

.btn:hover{
  border: 2px solid red;
  background-color: white;
  color: red;
  transform: translate(-50%,-50%)   scale(1.2);
  box-shadow: 0px 15px 20px rgba(0, 0, 0,10 );
}
